{% import '@wonka/macros.twig' as macros %}
<div class="Sweepstake-info">
    <div class="container">
        <div class="content-container">
            <h2 class="heading">{{content.field_title}}</h2>
            <p class="text">{{content.field_description}}</p>
            {{content.field_content}}
        </div>
    </div>
</div>