body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body .navbar {
  background: rgb(42, 18, 80);
  min-height: 80px;
}
body .navbar .navbar-brand {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .navbar .menu {
  width: 46px;
  height: 46px;
  z-index: 99;
}
body .navbar .menu .navbar-toggler {
  border-radius: 50%;
  max-width: 34px;
  width: 100%;
  margin-left: 10px;
  height: 34px;
  border: none;
  display: inline;
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
}
body .navbar .menu .navbar-toggler .hamburger-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  top: 0;
  bottom: 12px;
}
body .navbar .menu .navbar-toggler .hamburger-icon .line {
  width: 100%;
  height: 3px;
  background-color: #efc60f;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
  display: block;
}
body .navbar .menu .navbar-toggler .hamburger-icon .line:nth-child(2) {
  width: 80%;
}
body .navbar .menu .navbar-toggler:focus {
  box-shadow: none;
}
body .navbar .menu.open {
  margin-left: auto;
  margin-right: 20px;
}
body .navbar .menu.open .navbar-toggler {
  background: #453166;
}
body .navbar .menu.open .navbar-toggler .hamburger-icon {
  right: 29px;
}
body .navbar .menu.open .navbar-toggler .hamburger-icon .line:nth-child(1) {
  transform: translateY(9px) translateY(-50%) rotate(45deg);
}
body .navbar .menu.open .navbar-toggler .hamburger-icon .line:nth-child(2) {
  opacity: 0;
}
body .navbar .menu.open .navbar-toggler .hamburger-icon .line:nth-child(3) {
  transform: translateY(-10px) translateY(50%) rotate(-45deg);
}
body .overlay {
  background: rgba(241, 200, 79, 0.8588235294);
  color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  top: 0;
}
body .overlay .wrap {
  color: #e9e9e9;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
body .overlay .wrap .navbar-nav {
  border-bottom: 1px solid #575757;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}
body .overlay .wrap .navbar-nav .nav-item {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
  color: #190778;
  font-weight: 500;
}
body .overlay.open {
  opacity: 1;
  visibility: visible;
}
body .hero {
  overflow: hidden;
  position: relative;
}
body .hero .slick-slide .slide-content {
  max-width: 100vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: none;
  margin-bottom: -6px;
}
body .hero .slick-slide .slide-content img {
  width: 100%;
}
body .hero .slick-prev,
body .hero .slick-next {
  position: absolute;
  right: 10%;
  background: transparent;
  border: none;
  color: transparent;
  width: 40px;
  height: 40px;
  top: 50%;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid #2e1753;
  display: none !important;
}
body .hero .slick-prev:before,
body .hero .slick-next:before {
  content: ">";
  color: #fff;
  font-size: 25px;
}
body .hero .slick-prev {
  left: 10%;
}
body .hero .slick-prev:before {
  content: "<";
}
body .hero .slick-dots {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
  list-style-type: none;
}
body .hero .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
body .hero .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
  transition: 0.2s background-color ease-in-out 0s;
  border: none;
  padding: 0;
  color: transparent;
  background: transparent;
}
body .hero .slick-dots li button:before {
  content: "";
  background: #2e1753;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
body .hero .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
body .product-description {
  background: rgba(42, 18, 80, 0.9803921569);
  color: #fff;
  padding: 100px 0;
}
body .product-description .image-container {
  background: #eee;
  min-height: 470px;
  text-align: center;
}
body .product-description .content-container {
  min-height: 470px;
  padding: 0 30px;
}
body .product-description .content-container .heading {
  font-size: 2.4rem;
}
body .product-description .content-container .text {
  margin: 3rem 0;
}
body .product-description .content-container .buy-btn {
  background: #efc60f;
  border-radius: 30px;
  color: #2e1753;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 7px 0px 0 #712281;
}
body .Sweepstake-info {
  background: rgba(42, 18, 80, 0.9803921569);
  color: #fff;
  padding: 70px 0;
  text-align: center;
}
body .Sweepstake-info .content-container {
  padding: 0 30px;
}
body .Sweepstake-info .content-container .heading {
  font-size: 2.4rem;
}
body .Sweepstake-info .content-container .text {
  margin: 3rem 0;
}
body .Sweepstake-info .content-container .enter-btn {
  background: #efc60f;
  border-radius: 30px;
  color: #2e1753;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 7px 0px 0 #712281;
}
body .graphics {
  padding: 50px 0;
  background: #eeeeee;
}
body .graphics .slick-list {
  margin-bottom: 20px;
}
body .graphics .slick-list .slick-slide .slide-content {
  max-width: 220px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: none;
  margin: 0 auto;
}
body .graphics .slick-list .slick-slide .slide-content img {
  width: 100%;
}
body .graphics .slick-prev,
body .graphics .slick-next {
  position: absolute;
  background: transparent;
  border: none;
  color: transparent;
  width: 40px;
  height: 40px;
  top: 35%;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid #2e1753;
}
body .graphics .slick-prev:before,
body .graphics .slick-next:before {
  content: ">";
  color: #2e1753;
  font-size: 25px;
  position: relative;
  left: 6px;
  top: -1px;
}
body .graphics .slick-prev:hover,
body .graphics .slick-next:hover {
  background-color: #2e1753;
}
body .graphics .slick-prev:hover::before,
body .graphics .slick-next:hover::before {
  color: #fff;
}
body .graphics .slick-prev {
  left: -2%;
}
body .graphics .slick-prev:before {
  content: "<";
}
body .graphics .slick-next {
  right: -2%;
}
body .graphics ul.slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
body .graphics ul.slick-dots li {
  display: inline-block;
}
body .graphics ul.slick-dots li button {
  transition: 0.2s background-color ease-in-out 0s;
  border: none;
  padding: 0;
  color: transparent;
  width: 10px;
  height: 10px;
  background-color: #E3E3E3;
  margin-right: 10px;
  border-radius: 50%;
  background: rgba(46, 23, 83, 0.3490196078);
}
body .graphics ul.slick-dots li.slick-active button {
  background-color: #2e1753;
}
body .product-shot img {
  width: 100%;
}
body footer {
  background-color: #2a1250;
  text-align: center;
  padding: 80px 0;
  color: #fff;
}
body footer .footer-top {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}
body footer .footer-top .footer-top-a {
  max-width: 200px;
  width: 100%;
  display: block;
}
body footer .footer-top .footer-top-a img {
  width: 100%;
}
body footer .footer-links {
  margin-top: 20px;
  list-style-type: none;
}
body footer .footer-links li.footer-link-item {
  margin-bottom: 20px;
}
body footer .footer-links li.footer-link-item a {
  color: #fff;
  text-decoration: none;
}
body footer .social-links ul {
  list-style-type: none;
}
body footer .social-links ul li img {
  filter: invert(1);
}
body footer .privacy-links {
  margin-bottom: 25px;
}
body footer .privacy-links .privacy-links-ul .privacy-link-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
body footer .privacy-links .privacy-links-ul .privacy-link-item a {
  color: #fff;
  font-size: 13px;
}

@media (min-width: 576px) {
  body .navbar-expand-sm .navbar-toggler {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */